:host {
  width: 100%;

  .constituency-name {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }

  .vote-pct {
    display: flex;
    gap: 1rem;

    app-donut-chart {
      flex: 1 1 25%;
      min-width: 0;
      max-width: 120px;
    }

    .vote-pct-detail {
      flex: 1 1 75%;
      min-width: 0;
    }
  }

  .party-name {
    text-decoration: underline;
  }
}
