@if (constituencyDetail()) {
  <div><small>{{ constituencyDetail()?.stateName }}</small></div>
  <h6>{{ constituencyDetail()?.constituency?.name | titlecase }}</h6>
  <app-donut-chart [data]="constituencyDetail()?.results || []" [valueFn]="pctDonutValueFn()"
                   [labelFn]="pctDonutLabelFn()" [colorFn]="pctDonutColorFn()"/>
  <div>Vote count bar chart</div>
} @else {
  <p class="text-secondary">Click on a constituency in the map to see vote percentage and detailed vote distribution for
    candidates in that constituency.</p>
}
