@if (constituencyDetail()) {
  <div><small><i>{{ constituencyDetail()?.stateName }}</i></small></div>
  <h6>{{ constituencyDetail()?.constituency?.name | titlecase }}</h6>
  <div class="vote-pct">
    <app-donut-chart [data]="constituencyDetail()?.results || []" [valueFn]="pctDonutValueFn()"
                     [labelFn]="pctDonutLabelFn()" [colorFn]="colorFn()" [highlight]="hoveredResult()?.partyName"
                     [showTooltip]="false" (sectorMouseover)="onPctSectorHover($event)"
                     (sectorMouseout)="onPctSectorMouseout()"
    />
    <div class="vote-pct-detail">
      @if (candidateDetail()) {
        <small class="party-name">{{ candidateDetail()?.partyName }}</small>
        <div> {{ candidateDetail()?.candidateName | titlecase }}</div>
        <div>Votes: {{ candidateDetail()?.totalVotes || 0 | number }} ({{candidateDetail()?.percentageOfVotes || 0}}&percnt;)</div>
      }
    </div>
  </div>
  <app-horizontal-bar-chart [data]="constituencyDetail()?.results || []" [valueFn]="totalVotesFn()"
                            [labelFn]="barChartLabelFn()" [idFn]="barChartIdFn()" [colorFn]="colorFn()"
                            [highlight]="hoveredResult()" (barMouseover)="onBarMouseover($event)"
                            (barMouseout)="onBarMouseout()"
  />
} @else {
  <p class="text-secondary">Click on a constituency in the map to see vote percentage and detailed vote distribution for
    candidates in that constituency.</p>
}
