<app-donut-chart (sectorMouseover)="onSectorMouseover($event)" (sectorMouseout)="onSectorMouseout()"
                 [data]="seatsData()" [valueFn]="seatsValueFn" [labelFn]="labelFn" [colorFn]="colorFn"
                 [highlight]="highlightParty()" chartTitle="Total seats won"/>
<app-donut-chart (sectorMouseover)="onSectorMouseover($event)" (sectorMouseout)="onSectorMouseout()"
                 [data]="votePctData()" [valueFn]="votePctFn" [labelFn]="labelFn" [colorFn]="colorFn"
                 [highlight]="highlightParty()" chartTitle="Total vote share"/>
