<svg #chart [attr.width]="dimensions().width" [attr.height]="svgHeight()">
  <g #countriesGroup class="countries"></g>
  <g #organizationsGroup class="organizations"></g>
  <g #transactionLines class="transaction-lines"></g>
</svg>
<app-tooltip [triggerEvent]="tooltipEvent()" [target]="host.nativeElement">
  <ng-container tooltip-header>{{ hoveredCountry()?.data?.name }}</ng-container>
  <div>Donated: {{ hoveredCountry()?.data?.totalDonated | currency:'USD':'symbol':'1.0-0' }}</div>
  <div>Received: {{ hoveredCountry()?.data?.totalReceived | currency:'USD':'symbol':'1.0-0' }}</div>
</app-tooltip>
