@if (isEmpty()) {
  <small class="text-secondary">No data to display</small>
}
<svg #svg [attr.width]="dimensions().width" [attr.height]="height()"
     [style.visibility]="isEmpty() ? 'hidden': 'visible'">
  <g #labelGroup [attr.transform]="axisTransform()"></g>
  <g #hoverGroup [attr.transform]="axisTransform()"></g>
  <g #barGroup [attr.transform]="axisTransform()"></g>
</svg>
@let tooltip = tooltipData();
<app-tooltip [triggerEvent]="tooltipEvent()" [target]="host.nativeElement">
  <ng-container tooltip-header>{{ tooltip?.title }}</ng-container>
  @for (group of tooltip?.groups; track $index) {
    <div>{{ group.name }} - {{ group.value | number }}</div>
  }
</app-tooltip>
