.overall-result-viz-container {
  display: flex;
  gap: 1rem;

  .result-overview {
    flex: 1 1 60%; /* 60% width */
    min-width: 0;

    .total-stats {
      display: flex;
      gap: 1rem;
      justify-items: center;

      app-total-seats, app-total-vote-share {
        flex: 1 1 50%;
        min-width: 0;
        max-width: 120px;
      }
    }
  }

  app-constituency-detail {
    flex: 1 1 40%; /* 30% width */
    min-width: 0;
  }
}

@media (max-width: 768px) {
  .overall-result-viz-container {
    flex-wrap: wrap;

    .result-overview, app-constituency-detail {
      flex: 1 1 100%; /* On smaller screens, both take full width */
    }
  }
}
