<h1>Aid transactions between countries</h1>
<p>For my final project in the Information Visualization Specialization by NYU that was once offered on Coursera, I had to design an interactive dashboard to answer some specific questions about financial aid transactions between countries.</p>
<p>As an exercise in learning more d3, I decided to implement that design here.</p>
<p>The symbol map is meant as a guide to select a country or organization of interest to explore further. It shows pie charts at the centroid of each country on the map (or below it for organizations like the World Bank or countries that don't have matching names in the GeoJSON) where the radius is proportional to the total amount of transactions for that country in the selected year range.
<p>Use the total transactions over time line chart to brush across a year range to narrow it down.</p>
<p>Clicking on a country shows a more detailed breakdown of the transactions for that country over time, along with which countries those transactions went to or came from in the selected brushed range.</p>
<p>The dataset for this visualization comes from <a href="https://www.aiddata.org/data/aiddata-core-research-release-level-1-3-1" target="_blank">aiddata.org</a></p>


@if (isLoading()) {
  <mat-spinner />
} @else {
  <p class="animations-toggle"><mat-slide-toggle (change)="onAnimationChange($event)">Animate lines</mat-slide-toggle></p>
  <div class="charts">
    <app-country-map />
    <div class="details-container">
      <app-total-transactions-line-chart />
      <app-selected-entity-details />
    </div>
  </div>
}
