section.map {
  display: flex;
  gap: 1rem;

  app-constituency-map {
    flex: 1 1 60%; /* 60% width */
    min-width: 0;
  }

  app-total-stats {
    flex: 1 1 40%;
    min-width: 0;
  }
}

section.constituency-detail {

}
