.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  font-style: italic;
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

mat-divider {
  margin: 1rem 0;
}
